# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.next/
out/
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE / Config
.vscode/
.idea/
*.swp

# Project notes
DESIGN.md
TO-DO.md

# Environment
.env
.env.local
